[Unit]
Description=PulseAudio Sound Service
After=adbd.service

[Service]
# Note that notify will only work if --daemonize=no
Type=notify
User = root
Group = root
ExecStart=/usr/bin/pulseaudio -n --file=/etc/pulse/system.pa --daemonize=no -v
Restart=on-failure
RestartSec=3
StateDirectory=pulse

[Install]
WantedBy=multi-user.target
